.tabs-testimonial .tabs-testimonial-list {
  display: flex;
  gap: 12px;
  max-width: 100%;
  overflow-x: auto;
  order: 1;
  margin-top: 24px;
}

.tabs-testimonial .tabs-testimonial-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 0;
  padding: 12px;
  background-color: var(--light-color);
  color: initial;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tabs-testimonial .tabs-testimonial-list button p {
  margin: 0;
}

.tabs-testimonial .tabs-testimonial-list button[aria-selected='true'] {
  background-color: var(--background-color);
  cursor: initial;
}

.tabs-testimonial .tabs-testimonial-panel {
  padding: 0;
  overflow: auto;
}

.tabs-testimonial .tabs-testimonial-panel[aria-hidden='true'] {
  display: none;
}

.tabs-testimonial .tabs-testimonial-panel img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media (width >= 900px) {
  .tabs-testimonial .tabs-testimonial-panel > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;
  }
}
